.header {
    height: 100px;
    margin-bottom: 3em;
  }
#input-box {
    display: inline-flex;
    flex-direction: row;
    width: 83%;
}
.input {
    display: inline-flex;
    margin: 1em;
    margin-left: 4em;
}
.title {
  text-align: center;
}
.select {
    display: inline-flex;
    margin: 1em;
 
}
#search-btn {
    display: inline-flex;
}
#results {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem 1rem 2rem !important;
}
.button {
  width: 20%;
}
.searchbutton {
  text-align: center;
}
.has-bg-img {
  background: url(../images/background-image.png);
  -webkit-text-stroke-color: .75px black;
  -webkit-text-stroke-width: .75px;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  height: 110vh;
}