.header {
    height: 100px;
    margin-bottom: 3em;
  }
#input-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}
.input {
    display: inline-flex;
}
.select {
    display: inline-flex;
}
#search-btn {
    display: inline-flex;
}
<<<<<<< Updated upstream
=======
#results {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
>>>>>>> Stashed changes
