#input-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}
.input {
    display: inline-flex;
}
.select {
    display: inline-flex;
}
#search-btn {
    display: inline-flex;
}
