#input-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}
.input {
    display: inline-flex;
}
.select {
    display: inline-flex;
}
#search-btn {
    display: inline-flex;
}

.header {
  height: 100px;
  margin-bottom: 3em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}